@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product--image {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.bgSlider{
  background: linear-gradient(180deg, #D9F5E1 0%, rgba(255, 255, 255, 0) 100%);

}
.bgSlider2{
  background: linear-gradient(0deg, #D9F5E1 0%, rgba(255, 255, 255, 0) 80%);

}
ul.list-disc li::marker {
  color: currentColor;
}

/* .mydots{
  background-color: red;
  color: red;
} */

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #151875;
  transition: width 0.5s ease;
}

li:hover::before {
  width: 100%;
}